.subMail {
  display: flex;
  /* align-items: center; */
  padding: 10px 0;
  gap: 1rem;
  border-bottom: 1px solid var(--grey-border);
}

.subMail .avatar {
  width: 35px;
  /* height: 25px; */
}

.subMail .avatar img {
  width: 100%;
}
.subMail .content {
  /* flex-grow: 1; */
  min-width: 0;
  /* flex-wrap: wrap; */
}
.subMail .content,
.date {
  /* font-size: 0.8rem; */
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subMail .fullName {
  font-weight: 600;
  font-size: 0.7rem;
  white-space: nowrap;
}

.subMail .date {
  /* padding-inline-end: 10px; */
  font-size: 0.6rem;
  flex-grow: 1;
  display: flex;
  gap: 0.7rem;
  position: relative;
  right: 0;
  justify-content: flex-end;
}

.subMail .content > span {
}

.subMail .content > p {
  font-size: 0.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opened {
  margin: 25px 0;
}

.opened p {
  font-size: 0.8rem;
}
