.wraper {
  padding: 15px;
  width: 250px;
}
.header {
  height: 70px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid var(--grey-border);
}

.wraper svg {
  font-size: 1.5rem;
}

.header a {
  display: flex;
  padding: var(--link-padding);
  background-color: #bec4cd85;
  border-radius: 10px;
}

.singleLink {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 0.93rem;
}

.singleLink span {
  display: flex;
  padding: var(--link-padding);
}

.singleLink p {
  flex-grow: 1;
}

.singleLink svg {
  color: #929aa6;
  font-size: 1.3rem;
}

.singleLink p {
  font-weight: bold;
}

.singleLink .badge {
  font-size: 0.8rem;
  color: #fff;
  width: 23px;
  height: 23px;
  margin-right: 7px;
  border-radius: 8px;
  background: #00a388c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isActive {
  color: var(--primary-color);
}

.singleLink:hover p {
  color: #00a388c9;
}
.singleLink:hover svg {
  color: #00a388c9;
}
