.wraper {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 100dvh;
}

.wraper > .main {
  background-color: #fff;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.main > header > .hdr_content {
  display: flex;
  min-height: 100%;
  align-items: center;
  gap: 1rem;
}

.main > header > .hdr_content > button {
  font-size: 1.3rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--btn-bg-primary);
}

.main figure button {
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.main nav {
  flex-shrink: 0;
}
.main nav .linkList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 3;
}

.main nav .linkList li a {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.linkList li a svg {
  font-size: 1.2rem;
  color: var(--icons-color);
}
a.active,
.linkList li a.active > svg {
  color: var(--primary-color);
}

.main nav .linkList li a:hover,
.main nav .linkList li a:hover svg {
  color: var(--primary-color);
}
