.mailSender {
  flex-grow: 1;
  padding: 5px 15px;
  min-width: 0;
}

.mailSender > .header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey-border);
}

.header > .icons {
  display: flex;
  gap: 0.7rem;
  font-size: 1.2rem;
  color: #929aa6;
}

.header > span {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 30px;
  border-radius: 7px;
  background-color: #fd5e5e;
  position: relative;
  font-size: 11px;
  z-index: 1;
}

.header .span2 {
  background-color: #fd5e5e;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transform: rotate(45deg);
  position: absolute;
  left: 110px;
  top: 2.8px;
  /* z-index: -1; */
}
