.emailLi {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #f1f1f1;
    border-radius: .6rem;
    padding: .5rem;
    text-transform: capitalize;
}

.emailLi > img{
  width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.emailLi  article{
  flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.emailLi p {
    font-weight: 700;
    font-size: .9rem;
}

.emailLi span {
    color: var(--icons-color);
    font-size: .8rem;
    opacity: .7;
}

.emailLi div{
  display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--icons-color);
}

.emailLi ._li_uzl1z_80 div time {
    font-weight: 600;
    font-size: .7rem;
    color: var(--icons-color);
}

.emailLi:hover {
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);

}

/* .message div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: smaller;
}
.message > .pic {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message .wrap2 {
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap2 .names {
  width: 70%;
  font-weight: 600;
}
.wrap2 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap2 > .msgPrev {
  font-size: 0.75rem;
}

.message .hourWrap {
  width: 36px;
}
.hourWrap > p {
  font-size: 0.75rem;
}
.message img {
  width: 100%;
}

.message svg {
  font-size: 1.3rem;
  color: var(--primary-color);
} */
