.loginPage {
  width: 100vw;
  display: flex;
}

.loginPage > .loginForm > header > .lgn_hdr_txt {
  position: absolute;
  bottom: 10px;
}

.loginForm {
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

.loginForm .inptWrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.3rem;
  border: 1px solid var(--grey-border);
  padding: 0.5rem;
  border-radius: .3rem;
}

.loginForm .inptWrapper > svg{
  color: var(--icons-color);
}

.loginForm .primaryBtn{
  background-color: var(--primary-color);
  color: #ffffff;
  margin: 1rem;
}
.loginForm .secondaryBtn{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    align-items: center;
    gap: .5rem;
}

.loginForm .secondaryBtn >svg {
  font-size: 1.3rem;
}
.loginForm button:hover {
  cursor: pointer;
}

.loginPage > .loginRt {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: var(--bg-active);
}

.loginRt > img {
  width: 40%;
  height: auto;
}
