a.link {
  height: 48px;
  padding: 0 1rem;
  color: #fff;
  font-weight: 500;
  margin: 1rem 0;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 1rem;
}

a.link > svg {
  display: flex;
  color: inherit;
  font-size: 1.4rem;
}

a.link span {
  padding: var(--link-padding);
  display: flex;
}
