.link {
  color: #fff;
  margin-bottom: 25px;
  background: var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link > svg {
  display: flex;
}

.link span {
  padding: var(--link-padding);
  display: flex;
}
