.mailList {
  width: 320px;
  min-width: 320px;
  background: #b3bdcca6;
  border-radius: 15px 0 0 15px;
  padding: 15px;
}
.inputWrap {
  height: 70px;
  border-bottom: 1px solid var(--grey-border);
  display: flex;
  align-items: center;
}
.mailList input {
  flex-grow: 1;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
  outline-width: 0px;
  background-color: #f8f8f8;
  box-shadow: rgb(14 14 14 / 77%) 0px 2px 6px -4px inset;
}

.mailList .messagesWrap {
  overflow-y: scroll;
  height: 622px;
  padding: 10px 0;
}

.mailList .messagesWrap::-webkit-scrollbar {
  width: 3px;
}
.mailList .messagesWrap::-webkit-scrollbar-thumb {
  background-color: #7878786a;
}
