.mailList {
  width: 360px;
  background: #b3bdcca6;
  border-radius: 15px;
  margin-top: 10px;
  /* padding: 0 15px; */
}
.inputWrap {
  height: 60px;
  padding: 0 15px;
  /* margin-bottom: 18px; */
  border-bottom: 1px solid var(--grey-border);
  display: flex;
  align-items: center;
}
.mailList input {
  flex-grow: 1;
  height: 30px;
  border-radius: 5px;
  border-style: none;
  padding-left: 10px;
  outline-width: 0px;
  background-color: #f8f8f8;
  box-shadow: rgb(14 14 14 / 77%) 0px 2px 6px -4px inset;
}

.mailList .messagesWrap {
  overflow-y: scroll;
  height: 622px;
  padding: 10px 15px;
}

.mailList .messagesWrap::-webkit-scrollbar {
  width: 3px;
}

/* .mailList .messagesWrap::-webkit-scrollbar-track {
  background-color: #b3bdcca6;
} */
.mailList .messagesWrap::-webkit-scrollbar-thumb {
  background-color: #7878786a;
}
